@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Open Sans", sans-serif; */
}

p {
    color: var(--Grayish-Blue);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

.btn {
  background-color: var(--pink);
  color: var(--Very-Pale-Cyan);
  border: none;
  width: 90%;
  padding: 0.8rem;
  border-radius: 30px;
  font-weight: 700;
  font-size: 0.78rem;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(322, 80%, 76%);
}

.container {
  width: 90%;
  margin: auto;
}

header {
  background-image: url(/assets/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  margin-bottom: 4rem;
}

.navbar img {
  width: 110px;
  cursor: pointer;
}

.navbar button {
  background-color: #feffff;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 10px rgb(214, 211, 211);
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.navbar button:hover {
  opacity: 0.5;
}
/* End of Navbar */

/* Hero section */

.hero-section {
  margin: auto;
  width: 90%;
  text-align: center;
}

.hero-content h2 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.hero-content button {
  margin-bottom: 3rem;
  width: 80%;
}

.hero-section img {
  width: 100%;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-bottom: 3rem;
  }
  .hero-section {
    display: flex;
    gap: 4rem;
    width: 100%;
  }

  .hero-content {
    width: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-content h2 {
    font-size: 2.17rem;
  }

  .hero-content p {
    font-size: 0.95rem;
  }

  .hero-content button {
    width: 50%;
    padding: 1rem;
    font-size: 0.7rem;
  }

  .hero-image {
    width: 55%;
  }
}
/* End of Hero section */

/* Cards section */
#cards {
  padding: 3.3rem 0;
}

.card {
  box-shadow: -1px 1px 5px rgb(226, 225, 225);
  margin-bottom: 2.3rem;
  border-radius: 10px;
  padding: 4rem 2rem 2rem 2rem;
  text-align: center;
  line-height: 1.6;
}

.card img {
  width: 100%;
  margin-bottom: 3rem;
}

.card-text {
  padding: rem;
}

.card-text h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card-text p {
  font-size: 13.3px;
}

@media screen and (min-width: 768px) {
  #cards {
    padding: 7rem 0;
  }

  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }

  .card img {
    width: 30%;
  }

  .card-text {
    max-width: 470px;
  }

  .card-text h3 {
    font-size: 1.8rem;
  }

  .card-text p {
    font-size: 1.2rem;
  }

  .grow,
  .users {
    flex-direction: row-reverse;
    text-align: left;
  }
}
/* End of cards section */

/* Footer */
#footer {
  background-color: var(--Very-Dark-Cyan);
  padding-bottom: 3rem;
}

.footer {
  color: #fff;
  line-height: 1.5;
}

.footer p {
    color: white;
}

.footer-card {
  background-color: #fff;
  color: var(--Very-Dark-Cyan);
  text-align: center;
  box-shadow: 0 0px 2px rgb(214, 211, 211);
  font-size: 0.7rem;
  padding: 3rem 0;
  border-radius: 15px;
  position: relative;
  bottom: 7rem;
  margin-top: 10rem;
}

.footer-card h2 {
  margin-bottom: 1.5rem;
}

.footer-card button {
  width: 60%;
  font-size: 0.65rem;
}

.footer-content {
  margin: 2rem 0 2rem 0;
}

.footer-details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 4rem;
}

.footer-logo img {
  width: 160px;
}

.footer-details div {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.footer-details span {
  margin-bottom: 10px;
}

.footer-content ul li {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.footer-end {
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  cursor: pointer;
}

.socials div:hover {
  color: var(--pink);
}
/* .socials div {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
} */

.copyright {
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .footer-card {
    width: 65%;
    margin: auto;
    padding: 4rem 0;
    margin-top: 10rem;
    font-size: 1.3rem;
    bottom: 10rem;
  }

  .footer-card button {
    font-size: 1.2rem;
    width: 40%;
    padding: 1.5rem;
    border-radius: 35px;
  }

  .footer-content {
    display: flex;
    gap: 6rem;
    margin-bottom: 2rem;
  }

  .footer-details {
    flex-basis: 30%;
    font-size: 0.85rem;
    margin-bottom: 0;
  }

  .footer-content ul {
    flex-basis: 13%;
  }

  .footer-content ul li {
    font-size: 0.9rem;
  }

  /* flex: 1 1 25%;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  width: auto; */

  .socials {
    margin-top: 0;
  }

  .footer-logo img {
    width: 220px;
  }

  .copyright {
    text-align: right;
  }
}
/* End of Footer */
